<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yulu.mangger.dao.SortMapper">
	<resultMap id="BaseResultMap" type="com.yulu.mangger.bean.Sort">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="sortname" property="sortname" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="isdelete" property="isdelete" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, sortname, description, isdelete
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sort
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from sort
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.yulu.mangger.bean.Sort">
		insert into sort (id,
		sortname, description,
		isdelete)
		values (#{id,jdbcType=INTEGER},
		#{sortname,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR},
		#{isdelete,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.yulu.mangger.bean.Sort">
		insert into sort
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="sortname != null">
				sortname,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="isdelete != null">
				isdelete,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="sortname != null">
				#{sortname,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="isdelete != null">
				#{isdelete,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.yulu.mangger.bean.Sort">
		update sort
		<set>
			<if test="sortname != null">
				sortname = #{sortname,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="isdelete != null">
				isdelete = #{isdelete,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yulu.mangger.bean.Sort">
		update sort
		set
		sortname = #{sortname,jdbcType=VARCHAR},
		description =
		#{description,jdbcType=VARCHAR},
		isdelete =
		#{isdelete,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="findSortList" parameterType="com.yulu.mangger.bean.Sort"
		resultType="com.yulu.mangger.bean.Sort">
		select * from sort  where 1=1
		<if test="isdelete!=null">
			and isdelete =0
		</if>
		<if test="sortname!=null">
			and sortname like '%${sortname}%'
		</if>
	</select>

	<select id="banById" parameterType="com.yulu.mangger.bean.Sort" resultType="com.yulu.mangger.bean.Sort">
		update sort
		set isdelete = 1
		where id = #{id}
	</select>
	<select id="okById" parameterType="com.yulu.mangger.bean.Sort" resultType="com.yulu.mangger.bean.Sort">
		update sort
		set isdelete = 0
		where id = #{id}
	</select>
</mapper>